<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul>
            <li><a href="">home</a></li>
            <li><a href="">nosotros</a></li>
            <li><a href="">servicios</a></li>
            <li><a href="">novedades</a></li>
            <li><a href="">nuevas clases</a></li>
            <li><a href="">descuentos</a></li>
            <li><a href="">productos</a></li>
            <li><a href="">sedes</a></li>
            <li><a href="">lomitas</a></li>
            <li><a href="">cañitas</a></li>
            <li><a href="">cardales</a></li>
            <li><a href="">contacto</a></li>
       </ul>
    </nav>
    {{{body}}}
  </body>
</html>
