<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul>
            <li><a href="/Index.html">home</a></li>
            <li><a href="/nosotros.html">nosotros</a></li>
            <li><a href="/servicios.html">servicios</a></li>
            <li><a href="/novedades.html">novedades</a></li>
            <li><a href="/nuevas_clases.html">nuevas clases</a></li>
            <li><a href="/descuentos.html">descuentos</a></li>
            <li><a href="/productos.html">productos</a></li>
            <li><a href="/sedes.html">sedes</a></li>
            <li><a href="/lomitas.html">lomitas</a></li>
            <li><a href="/cañitas.html">cañitas</a></li>
            <li><a href="/cardales.html">cardales</a></li>
            <li><a href="/contacto.html">contacto</a></li>
       </ul>
    </nav>
    {{{body}}}
  </body>
</html>
